[submodule ".k8s"]
	path = .k8s
	url = git@github.com:Oky-period-tracker/periodtracker_k8s-whitelabelled.git
[submodule "app/src/resources"]
	path = app/src/resources
	url = git@github.com:shulthan-dev/okyresources_indonesia.git
[submodule "packages/core/src/common"]
	path = packages/core/src/common
	url = git@github.com:lalbelda/okycommon_indonesia.git
[submodule "packages/delete-account"]
	path = packages/delete-account
	url = git@github.com:Oky-period-tracker/periodtracker_delete_account-whitelabelled.git
[submodule "app/src/screens/UlarTangga/optional"]
	path = app/src/screens/UlarTangga/optional
	url = https://gitlab.com/digitala-oky/periodtracker_ular-tangga-indonesia.git
[submodule "app/src/screens/QuizListScreen/optional"]
	path = app/src/screens/QuizListScreen/optional
	url = https://gitlab.com/digitala-oky/brin-quiz.git